body{
    font-family: sans-serif;
    background-image: linear-gradient(to right blue, white);
    color: rgb(2, 2, 37);
    position: relative;
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
    background-image: linear-gradient(to top,rgb(207, 212, 229),rgb(2, 2, 29));
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    font-family:'Roboto', sans-serif;
    color: rgb(12, 12, 104);
}
.slogan{
    font-size: 14px;
    margin-left: 18px;

}
#Select-date{
    margin-left: 12px;
}

.main{
    height: 440px;
    width: 370px;
    background-image: linear-gradient( rgb(4, 180, 165), rgba(7, 88, 40, 0.295));
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

.minipera{
    font-size: 12px;
    font-weight: 600;
    position: relative;
    margin-top: 0px;
    height: 20px;
    background-color: rgb(32, 47, 123);
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 7px;
}

.age-value{
    text-align: center;
    position: relative;
    margin-top: 3px;
    font: size 6px; 
    color: rgb(3, 3, 54);
    
}

.mainbox{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    margin-top: 0;
    margin-top: 20px;
  
}
.minibox{
position: relative;
border-radius: 5px;
height: 61px;
width: 97px;
margin-left: 17px;
margin-top: 20px;
background-color: rgb(25, 207, 210);
transition: 500ms ease;


 
}


.main input {
    border: none;
    padding: 4px 4px;
    border-radius: 5px;
}

.main input:focus{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    outline: none;
    padding: 6px 6px;
    border-radius: 14px ;
    transition: 0.1s;
}

.DOB{
    font-size: 15px;
    text-align: center;
    margin-top: 120px;
    color:#30336b;
    letter-spacing: 8px;
}

@media (max-width: 413px)
{
    body{
        background-color: white;
    }
    .mainbox{
        width: 250px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    
    }
    .main{
        width: 260px;
    }
    .slogan{
        text-align: center;
        display: block;
        margin-top: -10px;
        position: relative;
        margin-left: -8px;
        font-size: 13px;
        font-weight: bolder;
        color: #2f3542;
    }
    #datePick{
        width: 200px;
        display: block;
        text-align: center;
        position: relative;
        margin-left: 8px;
        margin-top: 9px;
        margin-left: 20px;
    }
    .heading{
        font-size: 21px;
        letter-spacing: 2px;
        
    }
    .DOB{
        font-size: 13px;
        margin-top: 35px;
        letter-spacing: 4px;
        font-weight: bolder;
    }
}